<footer>
  <div class="container inner" style="flex-direction:column; gap:10px; text-align:center;">

    <!-- Legal Links -->

    <div style="margin-top:5px; font-size:0.8rem; color:var(--muted); line-height:1.6;">
      <strong>© 2025 Red Oak Security Services Inc.</strong> All Rights Reserved.
    </div>

    <div style="font-size:0.8rem; color:var(--muted); line-height:1.6;">

      OCN: 1001242491

      <br>
      Incorporated on May 20, 2025 in Ontario, Canada
    </div>

    <div style="font-size:0.8rem; line-height:1.6; color:var(--muted); display:flex; gap:10px; justify-content:center;">
      <a href="/legal/privacy-policy/" style="color:var(--muted); text-decoration:none;">Privacy Policy</a>
      <span>·</span>
      <a href="/legal/terms-and-conditions/" style="color:var(--muted); text-decoration:none;">Terms & Conditions</a>
    </div>

  </div>
</footer>